<!-- Use the base.html template for naviagtion bar, flash messages and bootstrap package -->
{% extends "base.html" %}
{% block title %} Sign up - SOOMMARY {% endblock %}

<!-- Form for user sign up -->
{% block body %}
<form method="POST">
  <div align="center">
  <h3>Sign Up</h3>
  <br>
  <div class="form-group">
    <input type="email" class="form-control col-lg-4" id="email" name="email" placeholder="Enter email"/>
  </div>
  <div class="form-group">
    <input type="password" class="form-control col-lg-4" id="password1" name="password1" placeholder="Enter password (8 characters minimum)"/>
  </div>
    <button type="submit" class="btn btn-primary secondary-style">Sign up</button>
  </div>
</form>
{% endblock %}